<!DOCTYPE HTML>
<html>
<head>
    <LINK href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <LINK href="/stylesheets/classstyle.css" rel="stylesheet" type="text/css">
    <LINK href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type="text/javascript" src='/javascripts/custom.js'></script>
    <script type="text/javascript" src='/javascripts/masonry.js'></script>
</head>
<body>
<div class="header">

    <h1 class="logo">LOGO</h1>
    <div class="header-nav">
        <ul>
            <!--  <li><a href="#">LINK1</a></li>
            <li><a href="#">LINK1</a></li>
            <li><a href="#">LINK1</a></li>
            <li><a href="#">LINK1</a></li>
            <li><a href="#">LINK1</a></li>
            -->
        </ul>
        <div class="sign-up-in-button-wrapper">
            <a href="/signup" class="btn btn-large btn-primary">Sign Up</a>
            <a href="#" class="btn btn-large  ">Log In</a>
        </div>
    </div>
</div>
<div class="clear"></div>

<div class="main-content-wrapper">

    <h1>Sign Up</h1>

    <form name="signupform">
        <fieldset>
            <legend></legend>
            <label>Name</label>
            <input type="text" name="name" placeholder="Type something…">
            <span class="help-block">Example block-level help text here.</span>
            <label>Email</label>
            <input type="text" name="email" placeholder="Type something…">
            <span class="help-block">Example block-level help text here.</span>
            <label>Password</label>
            <input type="text" name="password" placeholder="Type something…">
            <label>Retype Password</label>
            <input type="text"  placeholder="Type something…">

            <label class="checkbox">
                <input type="checkbox"> subscribe me
            </label>
            <button type="submit" class="btn"><a href="/signin">Submit</a></button>
        </fieldset>
    </form>


</div>

<div class="footer">
    <p>copyright@2013</p>
</div>

</body>
</html>
