<!DOCTYPE HTML>
<html>
<head>
    <LINK href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <LINK href="/stylesheets/classstyle.css" rel="stylesheet" type="text/css">
    <LINK href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type="text/javascript" src='/javascripts/masonry.js'></script>
    <script type="text/javascript" src='/javascripts/custom.js'></script>
</head>
<body>
<div class="header">

    <h1 class="logo">LOGO</h1>
    <div class="header-nav">
        <ul>
            <!--  <li><a href="#">LINK1</a></li>
            <li><a href="#">LINK1</a></li>
            <li><a href="#">LINK1</a></li>
            <li><a href="#">LINK1</a></li>
            <li><a href="#">LINK1</a></li>
            -->
        </ul>
        <div class="sign-up-in-button-wrapper">



            <a href="/signup" class="btn btn-large btn-primary">Upload photo</a>
            <a href="#" class="btn btn-large  ">Log Off</a>

        </div>
    </div>
</div>
<div class="clear"></div>

<div class="main-content-wrapper">

    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Explore</a>
            <ul class="nav">
                <li class="divider-vertical"><a href="#">Your friends</a></li>
                <li class="divider-vertical"><a href="#">Most recent</a></li>
                <li class="divider-vertical"><a href="#">Most Popular</a></li>
                <li class="divider-vertical"><a href="#">Editor's Pick</a></li>
            </ul>
        </div>
    </div>

    <div id="container">
        <img class="item w2" src="images/1.jpeg"    >

        <img class="item " src="images/3.jpeg"    >
        <img class="item " src="images/2.jpeg"    >

        <img class="item w2" src="images/4.jpeg"    >
        <img class="item w2" src="images/5.jpeg"    >

        <img class="item w2" src="images/1.jpeg"    >

        <img class="item w2" src="images/3.jpeg"    >
        <img class="item w2" src="images/2.jpeg"    >

        <img class="item w2" src="images/4.jpeg"    >
        <img class="item w2" src="images/5.jpeg"    >
        <img class="item w2" src="images/1.jpeg"    >

        <img class="item w2" src="images/3.jpeg"    >
        <img class="item w2" src="images/2.jpeg"    >

        <img class="item w2" src="images/4.jpeg"    >
        <img class="item w2" src="images/5.jpeg"    >
        <img class="item w2" src="images/1.jpeg"    >

        <img class="item w2" src="images/3.jpeg"    >
        <img class="item w2" src="images/2.jpeg"    >

        <img class="item w2" src="images/4.jpeg"    >
        <img class="item w2" src="images/5.jpeg"    >




        <!--<div class="item w2"><img class="item w2" src="images/1.jpeg" ></div>-->
        <!--<div class="item"><img src="images/images.jpeg" ></div>-->
        <!--<div class="item w2"><img src="images/2.jpeg" ></div>-->
        <!--<div class="item"><img src="images/images.jpeg" ></div>-->
        <!--<div class="item w2"><img src="images/3.jpeg" ></div>-->
        <!--<div class="item w2"><img src="images/4.jpeg" ></div>-->
        <!--<div class="item"><img src="images/5.jpeg" ></div>-->

    </div>


</div>

<div class="footer">
    <p>copyright@2013</p>
</div>

</body>
</html>
